doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    a(href= '/cacheUpdate/') Cache update  
    a(href= '/createDB/') Create database
    a(href= '/test/') Test
    block content

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/global.js')