include publication-row

extends layout

block content
  //-h1 Publications list for <i>#{authorName}</i>
  //-p #{engine} returned #{resultsNum} publication results.

  div.legend
    div.possible-duplicate(style='float:left;width:29px;height:30px')
    div(style='float:left; height:30px;padding: 7px;') Possible duplicates

    div.changed-duplicate(style='float:left;width:29px;height:30px')
    div(style='float:left; height:30px;padding: 7px;') Changed duplicates

    div.identical-duplicate(style='float:left;width:29px;height:30px')
    div(style='float:left; height:30px;padding: 7px;') Identical duplicates

    div.new(style='float:left;width:29px;height:30px')
    div(style='float:left; height:30px;padding: 7px;') New publications

  form(name="import", action="/import/?engine=" + engine, method="post")
    input.btn-primary(type="submit", class='import-pubs', value="Import selected")
    table.table.table-striped.table-hover
      thead
        tr
          td
            input(type='checkbox', id='select-all', title='(de)select all')
          td Authors
          td Title
          //-td Book title
          //-td Pages
          td
      tbody
        for publication in returnPublications
          if publication.possibleDuplicate
            +publicationRow(publication, 'duplicate possible-duplicate', 'This publication seems to already exist in our system. Please click to disambiguate')

        for publication in returnPublications
          if publication.changedDuplicate
            +publicationRow(publication, 'duplicate changed-duplicate', 'This publication has been imported into our system but has been changed. Please click to disambiguate')
            
        for publication in returnPublications
          if publication.new
            +publicationRow(publication, 'new')
            
        for publication in returnPublications
          if publication.identical
            +publicationRow(publication, 'duplicate identical-duplicate', 'This publication has already been imported into our system and cannot be imported')
    br
    input.btn-primary(type="submit", class='import-pubs', value="Import selected")


  div(id='compare-duplicates-modal' class='modal fade')
    div(class='modal-dialog modal-lg')
      div(class='modal-content')

//-<div class="modal fade" id="compare-duplicates-modal'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>