body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type="checkbox"].extensiveSearch{
	margin-left: 10px;
}
input[type="checkbox"].extensiveSearch + label{
	margin-left: 5px;
}

div.resultsXml{
margin: 10px 0;
}
.btn.btn-primary.btn-sm{
	margin-left: 22px;
}

table.searchResults{
	width:50%;
}
table.searchResults tr td:first-child{
	width:75%;
}
tr.selected td:first-child{
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%)!important;
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
tr.selected:hover{
background-color: #F9F3EB !important;
}
tbody tr{
	cursor:pointer;
}
tbody td.editors{
	color:#939393;
}

.modal-body {
    margin-top: 15px;
}


.arrow {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 15px;
}
.row > .arrow {
    margin-top: 20px;
    margin-bottom: 0;
}

tr.duplicate  td:first-child{
    background-color: #FAFAD2;
}

tr.identical-duplicate, tr.identical-duplicate  td:first-child{
    pointer-events: none;
}
div.identical-duplicate, tr.identical-duplicate  td:first-child{
    background-color: #D5CECE;
    color: #fff;
}

div.changed-duplicate, tr.changed-duplicate td:first-child{    
  background-image: -webkit-linear-gradient(#f0ad4e 0%, #eb9316 100%);
  background-image: -o-linear-gradient(#f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(#f0ad4e 0%, #eb9316 100%);
  background-repeat: repeat-x;
  border-color: #e38d13;
  color: #fff;
  border-color: #d58512;
}

div.possible-duplicate, tr.possible-duplicate td:first-child{    
  background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
  background-repeat: repeat-x;
  border-color: #b92c28;
  color: #fff;
}

div.new, tr.new  td:first-child{
    background-color: #FAFAD2;  
}

.import-pubs {
  float:right;
}